<form [formGroup]="checkboxGroup">
    <ng-container *ngFor="let checkbox of checkboxes; let i = index" formArrayName="checkboxes">
      <input type="checkbox" [formControlName]="i" />{{checkbox.name}}

      <br>
    </ng-container>
    <button (click)="submit()">Submit</button>
  </form>

  <br />

      <div  *ngIf="isAgregarCampoCheck">
            nuevo campo:
            <input type="text" [formControl] = "checkBoxNewName"
            (keyup.enter)="agregarCheck()"/>
            <br />
      </div>
       <li  *ngIf="!isAgregarCampoCheck"><a class='router-link-active' (click)="onAgregarCampoCheck()"> Agregar campo</a></li>
       <li *ngIf="isAgregarCampoCheck" ><a  class='router-link-active' (click)="onCancelarCampoCheck()"> Cancelar</a></li>
       <br/>   
  Checkbox js: {{ checkboxes | json}}
  <br />
  Checkbox values: {{ checkboxGroup.controls.checkboxes.value | json}}
  <br />
  Submitted values: {{ submittedValue | json}}
  <br>
  nuevo campo: {{checkBoxNewName.value | json}}
  valido campo: {{checkBoxNewName.valid | json}}