<div class="col-12 showPDF" id="my-node">
    <div class="row">
        <div class="col-4">
            <p>certificado title: {{miFormulario.controls['nombre'].value | titlecase}}</p>
        </div>
        <div class="col-4">
            <p>certificado title: {{miFormulario.controls['nombre'].value | titlecase}}</p>
        </div>
        <div class="col-4">
            <p>certificado title: {{miFormulario.controls['nombre'].value | titlecase}}</p>
        </div>

        <div class="col-4">
            <p>certificado title: {{miFormulario.controls['nombre'].value | titlecase}}</p>
        </div>
        <div class="col-4">
            <p>certificado title: {{miFormulario.controls['nombre'].value | titlecase}}</p>
        </div>
        <div class="col-4">
            <p>certificado title: {{miFormulario.controls['nombre'].value | titlecase}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
            <button type="button"
                    (click)="generarImg()"
                    class="btn btn-primary float-end">
                Guardar
            </button>
    </div>
</div>